.container {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: antiquewhite;
  box-sizing: border-box;
}

.container > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerImg {
  margin-top: 1vh;
}

.moon {
  display: block;
  max-width: 520px;
  width: 90%;
  height: auto !important;
  margin: 0 auto 18px auto;
  margin-top: 70px;
}

.title {
  margin: 18px 0 8px 0;
}

.title h1 {
  font-size: clamp(1.4rem, 4vw, 2.5rem);
  color: #5f2b11;
  font-weight: bold;
  margin: 0;
  line-height: 1.1;
}

.subtitle {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: #5f2b11;
  margin-bottom: 8px;
  line-break: loose;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

.cardsWrapper {
  position: relative;
  flex: 0 1 auto;
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.baseFotos {
  top: 0;
  left: 50%;
  width: 90%;
  height: 100%;
  z-index: 1;
  object-fit: contain;
  pointer-events: none;
}

.cardContent {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  width: 53%;
  min-height: 330px;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.description {
  font-size: 1.1rem;
  color: #5f2b11;
  line-height: 1.2;
  font-weight: 400;
  max-width: 380px;
}

.right {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 440px;
}

.cardImg {
  top: 16px;
  left: 22px;
  width: 276px;
  height: 170px;
  z-index: 8;
  overflow: hidden;
}

.cardImage {
  position: relative !important;
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.stage {
  --arrow-gap: 12px; /* espaço entre a borda e a seta */
  position: relative;
  width: min(90vw, 1100px); /* ajuste conforme sua base */
  margin: 0 auto;
  overflow: visible; /* permite as setas “pra fora” */
}

.arrow {
  flex-shrink: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.arrowLeft {
  left: 12px;
}
.arrowRight {
  right: 12px;
}

.arrowLeft img {
  transform: scaleX(-1);
}

.arrow:disabled {
  opacity: 0.35;
  pointer-events: none;
}

.sliderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  overflow: visible; /* importante! */
}

.dots {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  z-index: 10;
}
.dot {
  width: 12px;
  height: 12px;
  background: #e6d2ba;
  border-radius: 50%;
  display: inline-block;
  transition: background 0.23s, transform 0.23s;
  cursor: pointer;
  margin-bottom: 30px;
  border-color: #fe5500;
}

.activeDot {
  background: #fe5500;
  transform: scale(1.25);
  box-shadow: 0 0 4px 1px #ffd9a8bb;
}

.footer {
  width: 100vw;
  position: relative;
  background: transparent;
  margin: 0;
  padding: 0;
  z-index: 10;
  height: 170px;
  overflow: visible;
}

.dottedLineWrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 0;
  z-index: 1;
}

.dottedLine {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  border-bottom: 8px dotted #fe5500;
  z-index: 1;
  pointer-events: none;
}

.footerImgLeft,
.footerImgRight {
  position: absolute;
  bottom: 0;
  width: 210px;
  height: auto;
  z-index: 2;
  pointer-events: none;
  transform: translateY(50%);
}

.footerImgLeft {
  left: 0;
}

.footerImgRight {
  right: 0;
}

@media (max-width: 700px) {
  .dottedLineWrapper {
    height: 28px;
  }
  .footerImgLeft,
  .footerImgRight {
    width: 92px;
  }

  .moon {
    max-width: 250px;
  }

  .title h1 {
    font-size: 1.2rem;
  }
  .subtitle {
    font-size: 0.9rem;
    max-width: 92vw;
  }
  .container {
    min-height: 60vh;
    padding: 0 6px;
  }
}

@media (max-width: 1311px) {
  .cardContent {
    width: 80%;
    padding: 1.5rem 1.5rem;
    min-height: 260px;
  }
  .arrowIconLeft {
    left: 10;
  }
  .arrowIconRight {
    right: 10;
  }
}

@media (max-width: 1024px) {
  .cardContent {
    width: 80%;
    padding: 1.5rem 1.5rem;
    min-height: 260px;
  }
  .left {
    max-width: 48vw;
  }
  .right {
    min-width: 200px;
  }
  .molduraBox {
    width: 220px;
    height: 150px;
  }
  .cardImg {
    width: 175px;
    height: 96px;
    left: 14px;
    top: 12px;
  }
}

@media (max-width: 800px) {
  .arrowIconLeft {
    left: 2;
    top: -20px;
  }
  .arrowIconRight {
    right: 2;
    top: -25px;
  }

  .containerImg {
    margin-top: 6vh;
  }

  .cardsWrapper {
    min-height: 210px;
    margin-top: -8vh;
  }

  .cardContent {
    flex-direction: column;
    width: 65vw;
    min-height: 0;
    padding: 1rem 0.3rem;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
  }

  .left {
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .description {
    font-size: 1.05rem;
    max-width: 97vw;
  }

  .right {
    min-width: 0;
    width: 80%;
    justify-content: center;
  }

  .molduraBox {
    width: 90vw;
    max-width: 340px;
    height: 110px;
  }
  .moldura {
    border-radius: 13px;
  }
  .cardImg {
    width: 75vw;
    max-width: 260px;
    height: 68px;
    left: 8vw;
    top: 13px;
    border-radius: 13px;
  }
}

/* Microcelulares */
@media (max-width: 420px) {
  .molduraBox {
    height: 80px;
    width: 94vw;
    min-width: 120px;
    max-width: 94vw;
  }
  .cardImg {
    height: 41px;
    width: 57vw;
    left: 14vw;
    top: 10px;
  }
}
